<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
        Deze offerte aanvraag is verstuurd vanaf LN-Renoveren.nl<br>
        Adresgegevens aanvrager:<br>
        <% if @gender == 'male' %>
            Meneer <%= "#{ @initials }, #{ @lastname }" %>
        <% else %>
            Mevrouw <%= "#{ @initials }, #{ @lastname }" %>
        <% end %><br>
        <%= @adres %><br>
        <%= @zipcode %> <%= @city %><br>
    </div><br>
    <div>
        Contactgegevens:<br>
        <%= @telnum %><br>
        <%= @email %><br>
    </div><br>
    <div>
        Onderwerp:<br>
        <%= @subject %><br>
    </div><br>
    <div>
        Aanvraag:<br>
        <%= @message %><br>
    </div>
  </body>
</html>