<!DOCTYPE html>
<html>
  <head>
      <style>
          .pmail {
              margin:0;
          }
      </style>
  </head>
  <body>
    <p class='pmail'>Deze offerte aanvraag is verstuurd vanaf NL-renovatie.nl</p><br>
    <p class='pmail'>Gegevens afzender:</p><br>
    <p class='pmail'>Adresgegevens:</p>
    <p class='pmail'>
        <% if @gender == 'male' %>
            Meneer <%= "#{ @initials }, #{ @lastname }" %>
        <% else %>
            Mevrouw <%= "#{ @initials }, #{ @lastname }" %>
        <% end %>
    </p>
    <p class='pmail'><%= @adres %></p>
    <p class='pmail'><%= @zipcode %></p>
    <p class='pmail'><%= @city %></p><br>
    <p class='pmail'>Contactgegevens:</p>
    <p class='pmail'><%= @telnum %></p>
    <p class='pmail'><%= @email %></p><br>
    <p class='pmail'>Onderwerp:</p>
    <p class='pmail'><%= @subject %></p>
    <p class='pmail'>Bericht:</p>
    <p class='pmail'><%= @message %></p>
  </body>
</html>