<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div>
        Deze offerte aanvraag is verstuurd vanaf LN-Renoveren.nl
        Adresgegevens aanvrager:
        <% if @gender == 'male' %>
            Meneer <%= "#{ @initials }, #{ @lastname }" %>
        <% else %>
            Mevrouw <%= "#{ @initials }, #{ @lastname }" %>
        <% end %>
        <%= @adres %>
        <%= @zipcode %> <%= @city %>
    </div>
    <div>Contactgegevens:
        <%= @telnum %>
        <%= @email %>
    </div>
    <div>
        Onderwerp:
        <%= @subject %>
    </div>
    <div>
        Aanvraag:
        <%= @message %>
    </div>
  </body>
</html>