<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LN-Renoveren</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="nav" data-offset="50">
  
<div class="container-fluid header">
  <div class="row">
    <div class="img-responsive">
        <!--<%= image_tag('bannerexample.png') %>-->
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-static-top" role="navigation" data-spy="affix" data-offset-top="200">
  <div class='container-fluid'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand rootbutton' do %> 
          <i class="fa fa-home fa-lg" aria-hidden="true"></i>
          Home
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li id='navbar-button'>
          <%= link_to overons_path, class: 'overonsbutton' do %>
            <i class="fa fa-users" aria-hidden="true"></i>
            Over Ons
          <% end %>
        </li>
        <li id='navbar-button'>
          <%= link_to projecten_path, class: 'projectenbutton' do %>
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            Projecten
          <% end %>
        </li>
        <li id='navbar-button'>
          <%= link_to new_offerte_path, class: 'offertebutton' do %>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Offerte
          <% end %>
        </li>    
        <li id='navbar-button'>
          <%= link_to new_contact_path, class: 'contactbutton' do %>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Contact
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <%= yield %>
</div>

<footer class="container-fluid text-center">
  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
  
  </div>
  <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <p>(06) 403 511 38 | renoveren.ln@gmail.com | www.LN-Renoveren.nl</p>
  </div>
  <!--<div class="hidden-md hidden-lg col-xs-12 col-sm-12" style="padding-bottom:0em;">
    <p>(06) 403 511 38<br>renoveren.ln@gmail.com<br>www.LN-Renoveren.nl</p>
  </div>-->
  <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
    
  </div>
</footer>

</body>
</html>